:root{
    --color-primary: #ff7b54;
    --color-text-primary: #fff;
    --font-family: "Inter", sans-serif;
}

body{
    background-color :var(--color-primary);
    color:var(--color-text-primary);
    font-family: var(--font-family);
}

a{
    color: inherit;
    text-decoration: inherit;
}

header{
    display: grid;
    grid-template-columns: 3fr 13fr 1fr;
    grid-template-rows: 1fr;;
    align-items: center;
    justify-items: end;
}

nav>ul{
    list-style: none;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

nav>ul li{
    margin-right: 36px;
}

/*
nav {
     display: inline-block;
} */